.logo-svg {
    position: fixed;
    z-index: 10;
    width: 400px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.st0 {
    fill: #5a9449;
}

@media screen and (max-width: 767px) {
    .logo-svg {
        width: 320px;
    }
}

@media screen and (max-width: 415px) {
    .logo-svg {
        width: 80vw;
    }
}