.icons-farmer-pop-up{
    width: 20px;
    height: 20px;
}

.container-li{
    font-size: 15px;
    font-family:var(--default-font);
    font-weight: var(--semi-bold);
    color:var(--dark-grey)
}

.flex-responsive{
    display:flex;
    flex-direction: column;
    
}

.pop-up h3{
    color:var(--primary);
    font-family: var(--header-font);
}


@media screen and (min-width:768px){
    .flex-responsive{
        flex-direction: row;
    }

    .container-global-li{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}